*::-webkit-scrollbar{
    width: 5px;
}

*::-webkit-scrollbar-track{
    background-color: #c6a288;
    border-radius: 12px;
}

*::-webkit-scrollbar-thumb{
    background-color: #7c5d4b;
    border-radius: 12px;
}